.entries-container {
  background-color: white;
  padding: 30px; /* Increased from 20px */
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #aa0022;
  height: 100%;
}

.entries-container h2 {
  font-size: 1.5rem;
  color: #aa0022;
  margin-bottom: 15px;
}

.entries-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry-item {
  padding: 20px; /* Increased from 15px */
  background-color: #f9f9f9;
  border-radius: 5px;
}

.entry-details p {
  margin: 0;
  color: #333;
}

.entry-time {
  font-size: 0.8rem;
  color: #777;
}

@media (max-width: 768px) {
  .entries-container {
    padding: 20px; /* Adjusted */
  }

  .entries-list {
    gap: 8px;
  }

  .entry-item {
    padding: 15px; /* Adjusted */
  }
}
