@font-face {
  font-family: 'shelfmate';
  src: url('../../fonts/collegeb.ttf') format('truetype');
  font-weight: bold;
  font-size: 10%;
}

@font-face {
  font-family: 'text';
  src: url('../../fonts/Kings Town.otf') format('opentype');
  font-weight: bold;
}

.navbar {
  font-family: 'shelfmate', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aa0022;
  color: white;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
}

.shelfmate {
  font-family: 'shelfmate';
  color: white;
}

.buttons {
  text-decoration: none;
  padding: 12px;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.3s ease;
}

.label {
  display: block;
  font-size: 0.7rem;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
}

.buttons:hover {
  background-color: red !important;
}

.buttons:active {
  background-color: white !important;
}

.money {
  background-color: #550011;
}

.partnersB {
  background-color: #7f021c;
}

.aboutB {
  background-color: #ff5577;
}

.registerB {
  background-color: #ffaabb;
}

.school {
}

.items {
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    font-size: 1.4rem;
    padding: 20px;
  }

  .logo-container {
    justify-content: center;
    gap: 10px;
  }

  .buttons {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 18px;
    height: 65px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
  }

  .label {
    margin-top: 0;
    margin-left: 12px;
    font-size: 0.8rem;
  }

  .buttons:hover {
    background-color: red !important;
  }

  .buttons:active {
    background-color: white !important;
  }

  .school {
    height: 65px;
  }

  .items {
    padding: 15px;
  }
}

